.debug{
    background-color: rgba(255, 0, 128, 0.2);
    border: 1px solid rgba(255, 0, 128, 0.4);
}

nav{
    background-color: #2C3E50;
}

.jumbo, .section-2{
    background-color: #1ABC9C;
}

.section-1 div:first-of-type{
    color: #2C3E50;
}

#avatar-image{
    max-height: 200px;
}

.my-col-inner{
    min-height: 200px;
}